:root {
    --cor-primaria: #2f57ef;
    --cor-secundaria: #637FEA;
    --cinza: #6b7385;
    --cinza-escuro: #333;
    --Blue: #009EF7;
    --Green: #50CD89;
    --Purple: #7239EA;
    --Red: #F1416C;
    --Yellow: #FFC700;
    --Gray: #E4E6EF;
    --Gray-Background: #F5F8FA;
    --Gray-Dark: #333333;
    --Gray-Darkest: #131628;
    --Gray-Dark-Hover: #1E1E2D;
    --Gray-Light: #A1A5B7;
    --Gray-Lightest: #EFF2F5;
    --Gray-Medium: #555555;
    --Background-Light: #f6f8fa;
    --Background-Menu-Hover: #e8ecf2;
    --Border-Light: #d0d7de;
    --Font-color-default: #1f2328;
    --Sombra: 0 4px 8px 0 rgba(0,0,0,0.2);
    --Sombra-Hover: 0 8px 16px 0 rgba(0,0,0,0.2);
    --Sombra-Branca: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    --Max-Width: 1140px
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--cinza-escuro);
    font-family: "Roboto";
}

h1 {
    border-bottom: 0.5rem;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

p {
    margin-bottom: 10px;
    font-size: 16px;
}

ol li {
    list-style:decimal;
}

.border {
    border: 1px solid red;
}

#main {
    padding-top: 100px;
    background-color: var(--Background-Light);
    min-height: 100vh;
}

#main p {
    line-height: 1.5;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
}

.container {
    max-width: var(--Max-Width);
    margin: 0 auto;
    justify-content: space-between;
    position: relative;
    display: flex;
    padding: 20px;
}

.container-text {
    max-width: 50%;
    padding: 20px;
}

.container-img {
    /*flex: 1;
    overflow: hidden;*/
    width: 50%;
    padding: 20px;
}

.container-img img {
    width: 100%;
    height: auto;
    position: relative;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;
}

.align-itens-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.gap {
    column-gap: 10px;
    row-gap: 10px;
}

section {
    min-height: fit-content;
    /*margin-top: 0;
    margin-bottom: 0;*/
    padding-top: 80px;
    padding-bottom: 80px;
}

header {
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d0d7de;
    position: fixed;
    z-index: 1;
    width: 100%;
    top:0;
    min-height: 60px;
    background-color: white;
}

header img {
    max-height: 50px;
    cursor: pointer;
}

header ul li a {
    display: block;
    padding: 8px 16px;
    color: #6b7385;
    border-bottom: 3px solid transparent;
}

header ul li a:hover {
    color: var(--Blue);
    border-bottom: 3px solid var(--Blue);
    background-color: var(--Gray-Background);

}

.header-content {
    max-width: 1140px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.banner {
    min-height: fit-content;
    max-width: 100%;
    align-items: center;
    padding-bottom: 0;
}

.banner-body {
    padding: 20px;
    margin: 0 auto;
    max-width: 1140px;
    position: relative;
    align-items: center;
}

.banner-body h1 {
    font-size: 48px;
    color: #333;
    width: 100%;
}

.banner-body p {
    font-size: 20px;
    color: #6b7385;
    width: 100%;
}

.banner-text {
    width: 50%;
}

.banner-button {
    display: block;
    border: 1px solid var(--Blue);
    border-radius: 50px;
    color: #fff;
    background-color: var(--Blue);
    font-size: 18px;
    font-weight: 600;
    padding: 16px 45px;
    transition: all ease-in-out 0.2s;
    width: fit-content;
}

.banner-button:hover {
    border: 1px solid var(--Blue);
    background-color: #fff;
    color: var(--Blue);
    scale: 1.2;
}

/*.banner-body img {
    width: 50%;
    height: auto;
}*/

#sobre {
    background-color: var(--Gray-Background);
}

#sobre p {
    color: var(--cinza);
    font-size: 16px;
    margin-bottom: 10px;
}

#sobre h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

/*#sobre img {
    width: 50%;
    height: auto;
}*/

.card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: var(--Background-Light);
    border: 1px solid var(--Border-Light);
    margin: 10px 10px 10px 0;
    width: 32%;
    overflow: hidden;
    /*min-width: 300px;*/
}

.card-img img {
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    justify-content: space-between;
}

.card-content h6 {
    color: var(--cinza-escuro);
    font-size: 20px;
}

.card-content i {
    font-size: 28px;
}

.card-content ul {
    align-items: center;
}

.card-content ul li i {
    color: var(--Yellow);
}

.star-icon{
    color: var(--Yellow);
    font-size: 40px;
}

#vantagens {
    background-color: #fff;
}

.card-vantagens {
    background-color: #fff;
    padding: 16px;
    width: 32%;
    height: auto;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    margin: 10px 10px 10px 0;
}

.card-vantagens:hover {
    box-shadow: var(--Sombra)
}

.card-vantagens i {
    font-size: 28px;
    margin-bottom: 10px;
    text-align: center;
}

.card-vantagens p {
    color: var(--cinza);
}

.card-vantagens h6 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.newsletter {
    height: fit-content;
    background-color: var(--Blue);
    max-width: 100%;
    align-items: center;
    justify-content: center;
}

.newsletter h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.newsletter p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
    text-align: center;
    margin: 0 auto;
}

.newsletter-body {
    padding: 20px;
    margin: 0 auto;
    max-width: 1140px;
   
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.newsletter-body p {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.newsletter-body input {
    /*height: 44px;*/
    padding: 20px;
    background-color: #fff;
    width: 80%;
    font-size: 18px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 1px solid #fff;
    outline: none;
    margin-top: 20px;
}

.newsletter-body input:focus {
    background-color: var(--Background-Light);
}

.newsletter-body a {
    /*height: 44px;*/
    padding: 20px;
    width: 20%;
    background-color: var(--Red);
    color: #fff;
    display: block;
    align-self: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: 18px;
    margin-top: 20px;
    text-align: center;
    border: 1px solid var(--Red);
}

.icon {
    height: 110px;
    width: 110px;
    text-align: center;
    border-radius: 50%;
    background-color: #fff;
    line-height: 110px;
    margin-right: 10px;
}

.icon img {
    vertical-align: middle;
}

footer {
    margin-top: 80px;
    margin-bottom: 90px;
}

.footer-cta {
    max-width: 290px;
    margin-right: 20px;
}

.footer-cta img {
    max-height: 50px;
}

.footer-cta p {
    color: #6b7385;
    font-size: 16px;
    line-height: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.footer-cta a {
    padding: 10px 25px;
    border: 3px solid #637FEA;
    height: 44px;
    display: block;
    width: fit-content;
    border-radius: 20px;
    margin-top: 30px;
    transition: 1.2s ease-in-out;
}

.footer-cta a:hover {
    scale: 1.2;
}

.footer-menu {
    margin-right: 20px;
}

.footer-menu h5 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-menu ul {
    margin-right: 20px;
    margin-bottom: 30px;
}

.footer-menu li {
    display: flex;
    align-items: center;
}

.footer-menu a {
    display: block;
    padding: 8px 8px 8px 0;
    color: #6b7385;
}

.footer-menu a:hover {
    color: #0d6efd;
}



.footer-menu span {
    color: #6b7385;
}

.redes-sociais i {
    color: #6b7385;
    font-size: 20px;
    margin-right: 10px;
}

.redes-sociais i:hover {
    color: #0d6efd;
}

.footer-bottom {
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 14px;
    border-top: 1px solid #e6e3f1;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.footer-bottom a {
    display: block;
    padding: 8px;
    color: #6b7385;
}

.footer-bottom a:hover {
    color: #0d6efd;
}

@media screen and (max-width: 990px) {

    .card-vantagens {
        width: 48%;
    }

    .card {
        width: 48%;
    }

}

@media screen and (max-width: 700px) {
    .container-img {
       width: 100%;
    }

    .container-text {
        max-width: 100%;
        margin: 0;
    } 

    .card-vantagens {
        width: 100%;
    }

    .card {
        width: 100%;
    }

}



/*@media screen and (max-width: 500px) { 
    .banner-body img {
        width: 100%;
    }

    .banner-text {
        width: 100%;
    }
} */






/* Menu responsivo*/
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--Max-Width);
    margin: 0 auto;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu li a {
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: var(--Background-Light);
}

/* Estilos para menu responsivo */
#menu-toggle {
    display: none;
}

label[for="menu-toggle"] {
    cursor: pointer;
    font-size: 24px;
    color: transparent;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--Background-Light);
    }

    .menu.active {
        display: flex;
    }

    #menu-toggle:checked + .menu {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .menu li a {
        display: block;
        padding: 8px 16px;
    }

    label[for="menu-toggle"] {
        color: var(--cinza-escuro);
    }
}